  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://d33wubrfki0l68.cloudfront.net/741f4bce7cb8bd1b603abe00ae96e0bde82603c5/17456/thumbs/drink/long-flint-rum-and-fuego-cocktail-in-a-pop-art-style-3200x2133-q60.jpg')">
  <div class="container">
    <div class="deconstructed">
      <div class="deconstructed1">
    <h1>Cocktail List <strong>- Soft </strong> to <strong>creative</strong>!</h1>
    <h2>Change your life and drink to think different around the world.</h2>
  </div>
  <div class="deconstructed2">
    <h1>Cocktail List <strong>- Soft </strong> to <strong>creative</strong>!</h1>
    <h2>Change your life and drink to think different around the world.</h2>
  </div>
  <div class="deconstructed3">
    <h1>Cocktail List <strong>- Soft </strong> to <strong>creative</strong>!</h1>
    <h2>Change your life and drink to think different around the world.</h2>
  </div>
  <div class="deconstructed4">
    <h1>Cocktail List <strong>- Soft </strong> to <strong>creative</strong>!</h1>
    <h2>Change your life and drink to think different around the world.</h2>
  </div>
</div>
      <div class="buttons">
        <div class="container_b">
          <a class="btnn btn-2" href="<%=new_cocktail_path%>">CREATE</a>
            <svg>
              <rect x="0" y="0" fill="none" width="100%" height="100%"/>
            </svg>
        </div>
      </div>
  </div>
</div>


<div class="cards">
  <% @cocktails.each do |cocktail| %>
    <% if cocktail.photo.attached?  %>
      <% picture = cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <% picture = "https://www.destinationcocktails.fr/wp-content/uploads/2019/11/le_secret_des_cocktails_a_etages-2.jpg)" %>
    <% end %>
    <div class="card-trip">
      <a href="<%=cocktail_path(cocktail)%>" >
        <img src='<%= picture %>' />
      </a>
      <div class="card-trip-infos">
        <div>
          <h2><%=cocktail.name%></h2>
        </div>
                <%= link_to "REMOVE",
                          cocktail_path(cocktail),
                          method: :delete,
                          data: { confirm: "Are you sure?" },
                          class: 'buttons container_b btn_little btn-l del-link' %>
     </div>
    </div>

<% end %>



</div>
