<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.ritzparis.com/sites/default/files/styles/1440x748/public/images/card_page/slideshow/sans_titre-3_6.jpg?itok=GkdNi9EO);">
  <div class="container">
    <h1>Create your Cocktail <strong>- Soft </strong> to <strong>creative</strong>!</h1>
    <h2>Change your life and drink to think different around the world.</h2>
    <div class="buttons">
      <div class="container_b">
        <a href="<%=root_path%>" class="btnn btn-2">LIST</a>
        <svg><rect x="0" y="0" fill="none" width="100%" height="100%"/></svg>
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <%= simple_form_for(@cocktail) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file%>
    <%= f.submit "Create", class: "buttons container_b btn_little btn-l" %>
  <% end %>
</div>
