<% if @cocktail.photo.attached?  %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">

<% else %>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://d33wubrfki0l68.cloudfront.net/741f4bce7cb8bd1b603abe00ae96e0bde82603c5/17456/thumbs/drink/long-flint-rum-and-fuego-cocktail-in-a-pop-art-style-3200x2133-q60.jpg')">
<% end %>
  <div class="container">
    <h1>Create your Cocktail <strong>- Soft </strong> to <strong>creative</strong>!</h1>
    <h2>Change your life and drink to think different around the world.</h2>
    <div class="buttons">
      <div class="container_b">
        <a href="<%=root_path%>" class="btnn btn-2">LIST</a>
        <svg><rect x="0" y="0" fill="none" width="100%" height="100%"/></svg>
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <%= simple_form_for(@cocktail) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Create", class: "btn btn_primary" %>
  <% end %>
</div>
