<% if @cocktail.photo.attached?  %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">

<% else %>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://d33wubrfki0l68.cloudfront.net/741f4bce7cb8bd1b603abe00ae96e0bde82603c5/17456/thumbs/drink/long-flint-rum-and-fuego-cocktail-in-a-pop-art-style-3200x2133-q60.jpg')">
<% end %>
    <div class="deconstructed">
      <div class="deconstructed1">
        <h1><%=@cocktail.name%><strong>- Soft </strong> to <strong>creative</strong>!</h1>
          <h2>Sweet and Strong</h2>
      </div>
      <div class="deconstructed2">
        <h1><%=@cocktail.name%><strong>- Soft </strong> to <strong>creative</strong>!</h1>
          <h2>Sweet and Strong</h2>
      </div>
      <div class="deconstructed3">
        <h1><%=@cocktail.name%><strong>- Soft </strong> to <strong>creative</strong>!</h1>
          <h2>Sweet and Strong</h2>
      </div>
      <div class="deconstructed4">
        <h1><%=@cocktail.name%><strong>- Soft </strong> to <strong>creative</strong>!</h1>
          <h2>Sweet and Strong</h2>
      </div>

    </div>
    <div class="buttons">
          <div class="container_b">
            <a href="<%=root_path%>" class="btnn btn-2">LIST</a>
            <a class="btnn btn-2" href="<%=new_cocktail_dose_path(@cocktail)%>">Add</a>
            <svg><rect x="0" y="0" fill="none" width="100%" height="100%"/></svg>
          </div>
        </div>
  </div>
</div>

<div class="cards">
  <%@cocktail.doses.each do |dose|%>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2><%=dose.description%></h2>
          <h3><strong><%=dose.ingredient.name%></strong></h3>
            <%= link_to "REMOVE",
                        dose_path(dose),
                        method: :delete,
                        data: { confirm: "Are you sure?" },
                        class: 'buttons container_b btn_little btn-l' %>

        </div>
    </div>
  <% end %>
</div>





