<div class='navbar navbar-light bg-light'>
<h1><%=@cocktail.name%></h1>
</div>

<div class="list-group">
  <%@cocktail.doses.each do |dose|%>
      <li class='list-group-item'><%=dose.ingredient.name%></li>
      <li class="list-group-item">
        <%=dose.description%>
          <%= link_to "Remove ingredient",
                  dose_path(dose),
                  method: :delete,
                  data: { confirm: "Are you sure?" },
                  class: 'btn btn-danger' %>
        </li>
  <% end %>
</div>
<div class="d-flex justify-content-around"=>
<%= link_to 'Add an ingredient', new_cocktail_dose_path(@cocktail), class: 'btn btn-primary' %>
<%= link_to 'Back to list', cocktails_path, class: 'btn btn-primary'  %>
</div>
