<h1>Add News Ingredients to your <%=@cocktail.name%></h1>

<div class="form-group">
    <%= simple_form_for [ @cocktail, @dose ] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient %>
      <%= f.submit "Create", class: "btn btn-primary" %>

    <% end %>
</div>
<%= link_to "Return to list of cocktails", cocktail_path(@cocktail) %>

